{% extends 'base.html' %}

{% block content %}



<h2 class="mt-2 text-center">
    IoT Based Smart Steet Light System !
</h2>

<p style="text-align: justify" class="lead mt-5">The aim of the smart street lighting system using IOT is the conservation of energy by reducing electricity wastage.
    Streetlights consume a large proportion of the city’s electricity. This system modifies the working of street lights
    by reducing electrical charges with the help of sensors. We are using IR transmitter and receiver sensor modules for
    detecting the vehicles. The LDR sensor is used for switching on and off the lights during daytime. DHT11 sensor is
    used for adjusting the intensity of light depending on the humidity of the environment.
</p>

{% endblock %}